*.csv
*.pdf
titanic_dataset/titanic.py
fraud_detection/.ipynb_checkpoints/fraud_detection-checkpoint.ipynb
employee_attrition/.vscode/settings.json
employee_attrition/assignment.md
employee_attrition/.vscode/settings.json
booking_analysis/
utility_functions/__pycache__/plot_roc.cpython-37.pyc
employee_attrition/.ipynb_checkpoints/employee_attrition-checkpoint.ipynb
survival_analysis/.vscode/settings.json
